user: 'myname@googleAccount.com'
pass: 'myPassword!'
receipients: 'email1@email.com, email2@email.com, ...'
#you can obtain your trello key and secret by going to https://trello.com/1/appKey/generate
public_key:  'trello key'
secret: 'trello secret'
key: 'get key from https://trello.com/1/authorize?key=PUBLIC_KEY_FROM_ABOVE&name=My+Application&expiration=never&response_type=token&scope=read,write'
trello_board_main: 'board id'
trello_board_done: 'board id'
google_drive_key: 'google drive key'

#trello list ids
list1 = 'trello list id 1'
list2 = 'trello list id 2'
list3 = 'trello list id 3'
list4 = 'trello list id 4'
list5 = 'trello list id 5'
list6 = 'trello list id 6'

main_list1: 'add list id's from current working trello id here'
main_list2: ''
main_list3: ''
main_list4: ''
main_list5: ''